## Pandas 数据分析练习（第一部分）

<font color = red>注意：代码的输出，是我用标准答案run好的，不要run题目的chunk，输出会消失！另开一个代码块输入你的答案！！！</font>

### 创建对象

In [1]:
# 创建序列
import pandas as pd
s = pd.Series([1,2,3],index = ['A','B','C'],name = 'First_Series')

In [2]:
s

A    1
B    2
C    3
Name: First_Series, dtype: int64

In [3]:
s.values

array([1, 2, 3])

In [4]:
s.index

Index(['A', 'B', 'C'], dtype='object')

In [5]:
s.name

'First_Series'

In [6]:
# 创建时间序列
dates = pd.date_range("20220101", periods=6)

In [7]:
dates

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06'],
              dtype='datetime64[ns]', freq='D')

In [8]:
# 创建数据框
import numpy as np

df = pd.DataFrame(
    {
        "A": [1,2,3,np.nan],
        "B": pd.date_range("20220101",periods = 4),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)

In [9]:
df

     A          B    C  D      E    F
0  1.0 2022-01-01  1.0  3   test  foo
1  2.0 2022-01-02  1.0  3  train  foo
2  3.0 2022-01-03  1.0  3   test  foo
3  NaN 2022-01-04  1.0  3  train  foo

In [10]:
# 创建随机数df

np.random.seed(10)
df2 = pd.DataFrame(np.random.rand(10,4),columns=['A','B','C','D'])

In [11]:
df2

          A         B         C         D
0  0.771321  0.020752  0.633648  0.748804
1  0.498507  0.224797  0.198063  0.760531
2  0.169111  0.088340  0.685360  0.953393
3  0.003948  0.512192  0.812621  0.612526
4  0.721755  0.291876  0.917774  0.714576
5  0.542544  0.142170  0.373341  0.674134
6  0.441833  0.434014  0.617767  0.513138
7  0.650397  0.601039  0.805223  0.521647
8  0.908649  0.319236  0.090459  0.300700
9  0.113984  0.828681  0.046896  0.626287

### 查看数据

In [12]:
# 前三行
df2.head(n=3)

          A         B         C         D
0  0.771321  0.020752  0.633648  0.748804
1  0.498507  0.224797  0.198063  0.760531
2  0.169111  0.088340  0.685360  0.953393

In [13]:
# 后四行
df2.tail(n=4)

          A         B         C         D
6  0.441833  0.434014  0.617767  0.513138
7  0.650397  0.601039  0.805223  0.521647
8  0.908649  0.319236  0.090459  0.300700
9  0.113984  0.828681  0.046896  0.626287

In [14]:
# 查看index
df2.index

RangeIndex(start=0, stop=10, step=1)

In [15]:
# 查看columns
df2.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [16]:
# 转化为数组，此时index和columns被省略！
df2.to_numpy()

array([[0.77132064, 0.02075195, 0.63364823, 0.74880388],
       [0.49850701, 0.22479665, 0.19806286, 0.76053071],
       [0.16911084, 0.08833981, 0.68535982, 0.95339335],
       [0.00394827, 0.51219226, 0.81262096, 0.61252607],
       [0.72175532, 0.29187607, 0.91777412, 0.71457578],
       [0.54254437, 0.14217005, 0.37334076, 0.67413362],
       [0.44183317, 0.43401399, 0.61776698, 0.51313824],
       [0.65039718, 0.60103895, 0.8052232 , 0.52164715],
       [0.90864888, 0.31923609, 0.09045935, 0.30070006],
       [0.11398436, 0.82868133, 0.04689632, 0.62628715]])

In [17]:
# 连续型变量描述统计（只针对连续型数据）
df.describe()  # 其他列不是连续型数据

         A    C    D
count  3.0  4.0  4.0
mean   2.0  1.0  3.0
std    1.0  0.0  0.0
min    1.0  1.0  3.0
25%    1.5  1.0  3.0
50%    2.0  1.0  3.0
75%    2.5  1.0  3.0
max    3.0  1.0  3.0

In [18]:
df2.describe() # 4列都是连续型数据

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean    0.482205   0.346310   0.518115   0.642574
std     0.301661   0.250655   0.317712   0.175566
min     0.003948   0.020752   0.046896   0.300700
25%     0.237291   0.162827   0.241882   0.544367
50%     0.520526   0.305556   0.625708   0.650210
75%     0.703916   0.492648   0.775257   0.740247
max     0.908649   0.828681   0.917774   0.953393

In [19]:
# 查看基本信息
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 0 to 3
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      float64
 1   B       4 non-null      datetime64[ns]
 2   C       4 non-null      float32
 3   D       4 non-null      int32
 4   E       4 non-null      category
 5   F       4 non-null      object
dtypes: category(1), datetime64[ns](1), float32(1), float64(1), int32(1), object(1)
memory usage: 288.0+ bytes

In [20]:
# 维度
df2.shape

(10, 4)

In [21]:
# 各维度数据类型
df.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

### 排序

In [22]:
df2.sort_index(axis = 0,ascending=False)
# 按照行索引倒序排列，看最左边9876.。。

          A         B         C         D
9  0.113984  0.828681  0.046896  0.626287
8  0.908649  0.319236  0.090459  0.300700
7  0.650397  0.601039  0.805223  0.521647
6  0.441833  0.434014  0.617767  0.513138
5  0.542544  0.142170  0.373341  0.674134
4  0.721755  0.291876  0.917774  0.714576
3  0.003948  0.512192  0.812621  0.612526
2  0.169111  0.088340  0.685360  0.953393
1  0.498507  0.224797  0.198063  0.760531
0  0.771321  0.020752  0.633648  0.748804

In [23]:
df2.sort_values(by = 'B')
# 按照B列的值排序，从小到大

          A         B         C         D
0  0.771321  0.020752  0.633648  0.748804
2  0.169111  0.088340  0.685360  0.953393
5  0.542544  0.142170  0.373341  0.674134
1  0.498507  0.224797  0.198063  0.760531
4  0.721755  0.291876  0.917774  0.714576
8  0.908649  0.319236  0.090459  0.300700
6  0.441833  0.434014  0.617767  0.513138
3  0.003948  0.512192  0.812621  0.612526
7  0.650397  0.601039  0.805223  0.521647
9  0.113984  0.828681  0.046896  0.626287

### 取列数据（普通）

In [24]:
df2.A # 取A列

0    0.771321
1    0.498507
2    0.169111
3    0.003948
4    0.721755
5    0.542544
6    0.441833
7    0.650397
8    0.908649
9    0.113984
Name: A, dtype: float64

In [25]:
df2['A']

0    0.771321
1    0.498507
2    0.169111
3    0.003948
4    0.721755
5    0.542544
6    0.441833
7    0.650397
8    0.908649
9    0.113984
Name: A, dtype: float64

In [26]:
df2[['A','B']]
# 取AB两列，注意两个中括号

          A         B
0  0.771321  0.020752
1  0.498507  0.224797
2  0.169111  0.088340
3  0.003948  0.512192
4  0.721755  0.291876
5  0.542544  0.142170
6  0.441833  0.434014
7  0.650397  0.601039
8  0.908649  0.319236
9  0.113984  0.828681

### 取列数据（索引）

使用 loc iloc 方法索引，`:`代表所有行

In [27]:
df2.loc[:,'A']
# 筛选所有行，和A列

0    0.771321
1    0.498507
2    0.169111
3    0.003948
4    0.721755
5    0.542544
6    0.441833
7    0.650397
8    0.908649
9    0.113984
Name: A, dtype: float64

In [28]:
df2.loc[:,['A','B']]

          A         B
0  0.771321  0.020752
1  0.498507  0.224797
2  0.169111  0.088340
3  0.003948  0.512192
4  0.721755  0.291876
5  0.542544  0.142170
6  0.441833  0.434014
7  0.650397  0.601039
8  0.908649  0.319236
9  0.113984  0.828681

In [29]:
df2.iloc[:,0]
# 筛选所有行和第0列（在这里就是A列）

0    0.771321
1    0.498507
2    0.169111
3    0.003948
4    0.721755
5    0.542544
6    0.441833
7    0.650397
8    0.908649
9    0.113984
Name: A, dtype: float64

In [30]:
df2.iloc[:,2:4]
# 筛选所有行和第3和第4列（在这里就是CD两列）

          C         D
0  0.633648  0.748804
1  0.198063  0.760531
2  0.685360  0.953393
3  0.812621  0.612526
4  0.917774  0.714576
5  0.373341  0.674134
6  0.617767  0.513138
7  0.805223  0.521647
8  0.090459  0.300700
9  0.046896  0.626287

### 取行数据

In [31]:
df3 = df2.copy()

import random
random.seed(100)
df3.index = random.sample(range(100),k = 10)

In [32]:
df3 # 索引改变了

           A         B         C         D
18  0.771321  0.020752  0.633648  0.748804
58  0.498507  0.224797  0.198063  0.760531
98  0.169111  0.088340  0.685360  0.953393
22  0.003948  0.512192  0.812621  0.612526
90  0.721755  0.291876  0.917774  0.714576
50  0.542544  0.142170  0.373341  0.674134
93  0.441833  0.434014  0.617767  0.513138
44  0.650397  0.601039  0.805223  0.521647
55  0.908649  0.319236  0.090459  0.300700
64  0.113984  0.828681  0.046896  0.626287

In [33]:
df3.loc[18]

# 这里的18不是第18行，是根据index索引，指的是筛选index=18的那一行

A    0.771321
B    0.020752
C    0.633648
D    0.748804
Name: 18, dtype: float64

In [34]:
df2 # 回到df2

          A         B         C         D
0  0.771321  0.020752  0.633648  0.748804
1  0.498507  0.224797  0.198063  0.760531
2  0.169111  0.088340  0.685360  0.953393
3  0.003948  0.512192  0.812621  0.612526
4  0.721755  0.291876  0.917774  0.714576
5  0.542544  0.142170  0.373341  0.674134
6  0.441833  0.434014  0.617767  0.513138
7  0.650397  0.601039  0.805223  0.521647
8  0.908649  0.319236  0.090459  0.300700
9  0.113984  0.828681  0.046896  0.626287

In [35]:
df2.iloc[1:3] # 取第2和第3行

# 1:3 左开右闭相当于数学中的 (1,3]

          A         B         C         D
1  0.498507  0.224797  0.198063  0.760531
2  0.169111  0.088340  0.685360  0.953393

![](https://tuchuangs.com/imgs/2022/02/413b635e19d0284b.png)

### 筛选行列

In [36]:
df3 # 回到df3 索引被打乱

           A         B         C         D
18  0.771321  0.020752  0.633648  0.748804
58  0.498507  0.224797  0.198063  0.760531
98  0.169111  0.088340  0.685360  0.953393
22  0.003948  0.512192  0.812621  0.612526
90  0.721755  0.291876  0.917774  0.714576
50  0.542544  0.142170  0.373341  0.674134
93  0.441833  0.434014  0.617767  0.513138
44  0.650397  0.601039  0.805223  0.521647
55  0.908649  0.319236  0.090459  0.300700
64  0.113984  0.828681  0.046896  0.626287

In [37]:
df3.loc[44,'A']
# A列 索引为44的行（并不是第45行！！！）

0.6503971819314672

![](https://tuchuangs.com/imgs/2022/02/b627b4a02e65c495.png)

In [38]:
df3.loc[98:44,['A','B']]

# 慢慢理解一下！

           A         B
98  0.169111  0.088340
22  0.003948  0.512192
90  0.721755  0.291876
50  0.542544  0.142170
93  0.441833  0.434014
44  0.650397  0.601039

In [39]:
df3.iloc[1,1]
# 第2列第2行


# iloc对应的都是第n行第n列

# 所以输入的都是数字！！! 无视对应的index

0.22479664553084766

In [40]:
df3.iloc[3:9,[1,3]]

# 自己理解一下！

           B         D
22  0.512192  0.612526
90  0.291876  0.714576
50  0.142170  0.674134
93  0.434014  0.513138
44  0.601039  0.521647
55  0.319236  0.300700

![](https://tuchuangs.com/imgs/2022/02/ba3146b6fc3a8910.png)

## 小结

今天就分享到这里，总结一下！

1. 创建对象
2. 查看对象的属性
3. 排序
4. 索引（筛选行、列）

## 习题

请大家为了巩固知识，完成下面习题，参与Kaggle项目的同学，做完之后发给对应组长，由组长和组员确认，形成最终版本后，交给我，我给大家按组打分，最终加到每一阶段的项目总分里！

In [41]:
import pandas as pd
import numpy as np

### 第一题 创建序列（2分）

创建一个长度为5的series，值为从0开始（包括0）偶数，index是20220101开始的日期（20220101至20220501），序列名字设置为whale_project

In [45]:
s = pd.Series([0, 2, 4, 6, 8],index = ['2022-01-01','2022-02-01','2022-03-01', '2022-04-01', '2022-05-01'],name = 'whale_project')
s

2022-01-01    0
2022-02-01    2
2022-03-01    4
2022-04-01    6
2022-05-01    8
Name: whale_project, dtype: int64

2022-01-01    0
2022-02-01    2
2022-03-01    4
2022-04-01    6
2022-05-01    8
Freq: MS, Name: whale_project, dtype: int64

### 第二题 创建&索引数据框（1分）

请用`np.random.randint`生成一个10x10的取值范围1至100的随机整数矩阵，然后索引得到下面的子矩阵。

In [50]:
np.random.seed(2022)
df = pd.DataFrame(np.random.randint(1, 100, 100).reshape(10, 10))
df

    0   1   2   3   4   5   6   7   8   9
0  93  46  50  56  89  19  25  17  54  42
1  34  28  12  20  95  76  49  20  39  73
2  15  94  17  91  12  95  98   3  81  16
3  24  82  88  86  38  57  84  13  46  91
4  77  15  97  14  78  53  43  54  65  46
5  94  64  24  38  22  62  57  76  47   3
6  65  47  42  62  62  73  65  52  92  99
7  34  30  24  48  50  56  29  10  71  48
8  32  27   8  99  90  66  43  63  92  33
9  77   5  88  98  11  77  26  54  63  24

In [51]:
df

    0   1   2   3   4   5   6   7   8   9
0  93  46  50  56  89  19  25  17  54  42
1  34  28  12  20  95  76  49  20  39  73
2  15  94  17  91  12  95  98   3  81  16
3  24  82  88  86  38  57  84  13  46  91
4  77  15  97  14  78  53  43  54  65  46
5  94  64  24  38  22  62  57  76  47   3
6  65  47  42  62  62  73  65  52  92  99
7  34  30  24  48  50  56  29  10  71  48
8  32  27   8  99  90  66  43  63  92  33
9  77   5  88  98  11  77  26  54  63  24

![](https://tuchuangs.com/imgs/2022/02/3add3b2114e9b72a.png)

In [52]:
df.iloc[3:7, 4:9]

    4   5   6   7   8
3  38  57  84  13  46
4  78  53  43  54  65
5  22  62  57  76  47
6  62  73  65  52  92

In [52]:
# 你的代码

    4   5   6   7   8
3  38  57  84  13  46
4  78  53  43  54  65
5  22  62  57  76  47
6  62  73  65  52  92